<h2>Edit Need Item</h2>
<form name="needItemForm" ng-submit="save()" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="title">Title:</label>
    <div class="controls">
      <input ng-model="needItem.title" class="input-xlarge" id="title" focus required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="description">From Where:</label>
    <div class="controls">
      <textarea ng-model="needItem.fromWhere" class="input-xlarge" id="description"></textarea>
    </div>
  </div>

  <div class="form-actions">
    <button class="btn btn-primary" ng-disabled="needItemForm.$invalid">Save</button>
    <button type="button" ng-click="remove()" ng-show="!needItem.id" class="btn">Delete</button>
  </div>
</form>
