<!--<h2>Edit Need Item</h2>-->
<!--<form name="needItemForm" ng-submit="save()" class="form-horizontal">-->
  <!--<div class="control-group">-->
    <!--<label class="control-label" for="title">Title:</label>-->
    <!--<div class="controls">-->
      <!--<input ng-model="needItem.title" class="input-xlarge" id="title" focus required>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="control-group">-->
    <!--<label class="control-label" for="description">From Where:</label>-->
    <!--<div class="controls">-->
      <!--<textarea ng-model="needItem.fromWhere" class="input-xlarge" id="description"></textarea>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-actions">-->
    <!--<button class="btn btn-primary" ng-disabled="needItemForm.$invalid">Save</button>-->
    <!--<button type="button" ng-click="remove()" ng-show="!needItem.id" class="btn">Delete</button>-->
  <!--</div>-->
<!--</form>-->

<!-- Modal -->
<div class="modal fade" id="needItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
